/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top
{
    /* surround with whitespace */
    margin-bottom: 15px;
    margin-top: 15px;
}

#top .nav
{
    /* center navigation pills */
    display: inline-block;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

.head-wrap {
    border-bottom: 1px solid red;
    margin: 10px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
}

/*.logo {*/
/*    position: relative;*/
/*}*/

#logo {
    width: 50px;
    float: left;
    position: relative;/*absolute;*/
    display: block;
}

.head-text {
    padding-left: 60px;
    float: left;
    position: relative;
}

.start {
    font: inherit;
    font-weight: bold;
}

.login {
    float: right;
}

.firm-box .address-box b{
    /*display: block;*/
    /*float: left;*/
    /*margin-right: 10px;*/
    
}
.firm-box .address-box div{
    
}
.firm-box .address-box{
    text-align: left;
}
.firm-box{
    color: black;
    outline: 1px solid #0275d8;
    margin-right: 3%;
    height: 150px;
    width: 31.333%;
    padding-top: 0px;
    cursor: pointer;
}

.firms-list .firm-box:nth-child(3){
    margin-right: 0;
}

.footer-center {
    width: 1140px;
    margin: 0 auto;
}

.footer-left {
    padding-top: 12px;
    text-align: left;
}

.footer-middle-left {
    text-align: center;
    padding-top: 2px;
}

.footer-middle-right {
    text-align: center;
}

.footer-right {
    padding-top: 7px;
}

.text-hosp {
    text-align: left;
}

.modal-header {
    background-color: #f8f8f8;
}

.spoiler > input + label:after{content: "+";float: right;font-family: monospace;font-weight: bold;}
.spoiler > input:checked + label:after{content: "-";float: right;font-family: monospace;font-weight: bold;}
.spoiler > input{display:none;}
.spoiler > input + label , .spoiler > .spoiler_body{background:#ddd;padding:5px 15px;overflow:hidden;width:100%;box-sizing: border-box;display: block;}
.spoiler > input + label + .spoiler_body{display:none;}
.spoiler > input:checked + label + .spoiler_body{display: block;}
.spoiler > .spoiler_body{background: #FFF;border-top: none;}

.img-hosp {
    width: 500px;
    float: right;
    max-width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

#block-for-slider {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}

.text-hosp-information {
    text-align: left;
}

.frame {
    padding-top: 10px;
    text-align: center;
}

.modal-header {
    border-top-right-radius: 6px;
	border-top-left-radius: 6px; 
}

.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td {
    border: 1px solid #a6c9e2;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin:0 auto;
    animation: spin 1.5s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

   /*изменения*/
#feedback-form{
    
}
#feedback-form .mandatory{
    margin-left: 2px;
    margin-right: 4px;
    color: red;
}
#feedback-form .row{
    text-align: left;
    margin-bottom: 15px;
    margin-right: 10px;
}

#feedback-form textarea{
    height: 100px;
}
#feedback-form .align-center div{
    display: inline-block;
}
#feedback-form .align-center{
    text-align: center;
}
.feedbacks .pacient-name{
    font-size: 1.3em;
}
.feedbacks .pacient-feedback{
    font-size: 1.2em;
}
.feedbacks .feedback-date{
    font-size: 0.8em;
}
.feedbacks .row{
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
}

.left-doctor{
    position: fixed;
    top: 220px;
    
}
.left-doctor img{
    width: 100%;
}
.head-cont{
    position: relative;
    height: 80px;
}
.header-pic{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 180px;
}
.header-pic img{height: 42%;}


@media  (max-width: 1000px)  {
  .head-cont{
    
    height: auto;
}
.header-pic{
    display: none;
}

}


@media  (max-width: 1650px)  {
  
    .left-doctor{
        width: 12%;
    }
}

@media  (max-width: 1450px)  {
  
    .left-doctor{
        display: none !important;    
    }
}
/* */
.panel.panel-default {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

.navbar.navbar-default {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#infopanel {
   box-sizing: border-box;
   padding: 10px;  
}